doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/style.css')
    // Page title
    title Add Products
  body
    // Insert navbar from partial folder
    include ../views/partials/header
    // Main Content [START]
    .container-fluid.mainCont.px-0.py-0
        .headerPadd
        // Header Image Section [START]
        .headerImage.genericHead.bottomAlign
            .h2.headerText.text-center Add Products

            // Header Image Section [END]
        .row.mainRow.justify-content-center
            .col-md-10.mt-3.mb-3.rbContainer
                div.text-center
                    if size_id
                        form(class="p-3" method="POST" action="/size_option_save")
                            input#addProdMode.form-control(type='text' name="size_id" value=size_id  style="display:none;")
                            .row.mt-3.justify-content-center
                                .col-md-5.mt-2
                                    label.form-label Size Option
                                    input#addSize.form-control.addSizeClass(type='text' name="size" value=size)
                                .col-md-5.mt-2
                                    label.form-label Size Order
                                    input#addSize.form-control.addSizeClass(type='text' name="size_order" value=size_order)

                            .row.mt-3.justify-content-center
                                .col-md-4.mx-auto.d-grid
                                    button#addProduct.btn.btn-secondary(type="submit") Save

                    .row.mt-3.justify-content-center
                        .col-md-12.mt-2
                            table#prodTable.table
                                thead
                                    th Size Opiton
                                    th Size Order
                                    th 
                                        form(id="addSizeForm" method="POST" action="/add_size")
                                            input#addProdMode.form-control(type='text' name="product_id" value=product_id  style="display:none;")
                                            button.btn.btn-primary(type="submit") Add Size Option
                                tbody#prodTableBody
                                    each row in size_options
                                        if size_id == row.size_id
                                            tr.table-primary
                                                td #{row.size}
                                                td #{row.size_order}
                                                td 
                                                    form(id="editForm"+row.product_id method="GET" action="/edit_size/"+row.product_id+"/"+row.size_id)
                                                        input#addProdMode.form-control(type='text' name="size_id" value=row.size_id  style="display:none;")
                                                        button.btn.btn-primary(type="submit") Edit
                                                    
                                                    form(id="editForm"+row.product_id method="POST" action="/remove_size")
                                                        input#addProdMode.form-control(type='text' name="product_id" value=row.size_id  style="display:none;")
                                                        button.btn.btn-danger(type="submit") Remove
                                        else 
                                            tr
                                                td #{row.size}
                                                td #{row.size_order}
                                                td 
                                                    form(id="editForm"+row.product_id method="GET" action="/edit_size/"+row.product_id+"/"+row.size_id)
                                                        input#addProdMode.form-control(type='text' name="size_id" value=row.size_id  style="display:none;")
                                                        button.btn.btn-primary(type="submit") Edit
                                                    
                                                    form(id="editForm"+row.product_id method="POST" action="/remove_size")
                                                        input#addProdMode.form-control(type='text' name="size_id" value=row.size_id  style="display:none;")
                                                        input#addProdMode.form-control(type='text' name="product_id" value=row.product_id  style="display:none;")
                                                        button.btn.btn-danger(type="submit") Remove



        
        // Main Content [END]

    // Insert footer from partial folder  
    include ../views/partials/footer
      
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

    // JavaScript - to make page interactive
    script.
       
      

  body
  // jQuery and Bootstrap Bundle
  // js